<footer class="footer">
    <div class="container">
        <div class="nav navbar-nav">
            <p class="text-muted">Joel Roberts&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="text-muted" href="https://github.com/newfoundfreedom/BurgerTime">GitHub Repo</a></p>
        </div>
    </div>
</footer>
